<%- include("header"); -%>

<!--<h1>Hello, <%= user.displayName %></h1>-->
<!--Your Steam-ID is: <%= user.id; %> <br>-->
  
<% if (errorMsg) { %>
  <div style="background-color: darkred; color:white; padding: 4px 20px 4px 20px; margin-top:10px; margin-bottom:10px">
    <%- errorMsg -%>
  </div>
<% } %>

<%if (!player.player_id) { %>
  <%- include("account_register"); -%>
<% } else { %>
<a href="/player/<%=player.player_id%>" target="_parent">My Stats</a>
| <a href="privacy_policy">Privacy Policy</a>

<h2>Privacy Settings</h2>
<% if (player.privacy_match_hist <= 0) { %>
<p>NOTE: You have not set a preference yet. Until May 24th you will be treated as public, after that you are no longer tracked.</p>
<% } %>
<form method="post">
  <input type="radio" name="matchHistory" value="3" <%= player.privacy_match_hist == 3 ? "checked" : "" %>><span class="opt-out">Not tracked:</span> Don't record new data and don't provide rating information.
  <br><input type="radio" name="matchHistory" value="1" <%= player.privacy_match_hist == 1 ? "checked" : "" %>><span class="opt-in-private">Private:</span> Your ratings and aliases are accessible, your match history is private
  <br><input type="radio" name="matchHistory" value="2" <%= player.privacy_match_hist == 2 ? "checked" : "" %>><span class="opt-in-public">Public:</span> Everyone can see your ratings and match history
  <p>
    <input type="checkbox" name="locate" value="1" <%= player.privacy_locate == 1 ? "checked" : "" %>>Allow other players to see on which server I am currently playing ("Now Playing")
  </p>
  <button type="submit" name="action" value="update" class="button">Save Settings</button>
</form>

<h2>Delete account</h2>
When you delete your account, qlstats will not allow you to sign-up again for 2 months to prevent abusive reset of ratings.
<br/>For this purpose qlstats will keep your Steam-ID and the deletion date on record for said amount of time. All other information will be erased immediately.
<br />The matches you participated in will be updated so that you show up as an Untracked Player.
<br/>
<form method="post">
  <p>
  <input type="checkbox" name="confirm" value="1"/>Confirm account deletion
  </p>
  <button type="submit" name="action" value="delete" class="button" style="background-color:darkred;color:white">Delete my account</button>
</form>

<% } %>


<%- include("footer"); -%>