<%- include("header"); %>

<!--<h1>Hello, <%= user.displayName %></h1>-->
<!--Your Steam-ID is: <%= user.id; %> <br>-->

<%if (!player.player_id) { %>
  <h1>Welcome!</h1>
  <p>Your Steam-ID is not registered with yet and we don't have any data about you.<br>
    If you want to register, please read and accept the following privacy statement:</p>

<% } else { %>
<a href='/player/'<%=user.id%>' target="_parent">My Stats</a>

<form method="post">
<h2>Privacy Settings</h2>
<input type="radio" name="matchHistory" value="3" <%= player.privacy_match_hist == 3 ? "checked" : "" %>><span class="opt-out">Not tracked:</span> No ratings, no stats. NOTE: server owners may deny you access to ranked servers
<br><input type="radio" name="matchHistory" value="1" <%= player.privacy_match_hist == 1 ? "checked" : "" %>><span class="opt-in-private">Private:</span> Your ratings and aliases are accessible, your match history is private
<br><input type="radio" name="matchHistory" value="2" <%= player.privacy_match_hist == 2 ? "checked" : "" %>><span class="opt-in-public">Public:</span> Everyone can see your ratings and match history
<br>
<br>
<button type="submit">Save Settings</button>
<% if (saved) { %>
<br>Settings have been saved
<% } %>
</form>
<% } %>

<%- include("privacy_policy"); %>

<%- include("footer"); %>