<%- include("header"); -%>

<style>
  h2 { margin-top: 50px }
</style>

<!-- Your Steam-ID is: <%= user.id; %> -->
  
<% if (errorMsg) { %>
  <div style="background-color: darkred; color:white; padding: 4px 20px 4px 20px; margin-top:10px; margin-bottom:10px">
    <%- errorMsg -%>
  </div>
<% } %>

<% if (parseInt(player.days_since_delete) <= conf.reregisterCooldownDays) { %>
  <%- include("account_deleted"); -%>
<% } else if (!player.player_id || player.allow_tracking === false) { %>
  <%- include("account_register"); -%>
<% } else { %>
  <%- include("account_settings"); -%>
<% } %>


<%- include("footer"); -%>