<%- include("header"); %>
<style>
  body { padding: 15px }
</style>

<h1><a href="/"><%= conf.siteName %></a> Sign-in</h1>
To create a <%= conf.siteName %> account or change your personal settings, we needs to know your Steam-ID.
<br>The next step will send you to a Steam Sign-In page, which will give us this information.
<p><a href="<%=conf.urlprefix%>/auth/steam"><img src="<%=conf.urlprefix%>/steam-signin.png" alt="Sign in through Steam"></a></p>

<%- include("footer"); %>